<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.mapper.PreecMapper">
  <resultMap id="BaseResultMap" type="cn.tycoding.pojo.Preec">
    <id column="expid" jdbcType="INTEGER" property="expid" />
    <result column="id_query" jdbcType="INTEGER" property="id_query" />
    <result column="id_subjects" jdbcType="INTEGER" property="id_subjects" />
    <result column="motion_capture_info" jdbcType="VARCHAR" property="motion_capture_info" />
    <result column="slot_machine_info" jdbcType="VARCHAR" property="slot_machine_info" />
    <result column="asc_info" jdbcType="VARCHAR" property="asc_info" />
    <result column="fgt_info" jdbcType="VARCHAR" property="fgt_info"/>
    <result column="elec_info" jdbcType="VARCHAR" property="elec_info" />
  </resultMap>
  
      <select id="selectByPrimaryKey" resultType="cn.tycoding.pojo.Preec">
		select * from
		preec
		where expid = #{expid}
	</select>
  
  <sql id="Base_Column_List">
    expid,id_query,id_subjects,motion_capture_info,slot_machine_info,pedar_info,ox_info,elec_info,video_info,user_name
  </sql>
    <!-- 第一个参数为页数，第二个参数为每页多少行 -->
    <select id="findByPage" resultType="cn.tycoding.pojo.Preec">
		select * from
		preec
		order by expid desc
		limit #{0},#{1}
	</select>

    <select id="getSum" resultType="int">
		select count(*) from
		preec
	</select>

    <select id="find" resultType="cn.tycoding.pojo.Preec">
		select * from
		preec
		order by expid desc
		
	</select>
	
    <update id="edit" parameterType="cn.tycoding.pojo.Preec">
		update preec set
		id_subjects=#{id_subjects},advance=#{advance},remark=#{remark},motion_capture_info=#{motion_capture_info},slot_machine_info=#{slot_machine_info},pedar_info=#{pedar_info},ox_info=#{ox_info},elec_info=#{elec_info},id_machine=#{id_machine},video_info=#{video_info}                                                
		where
		expid=#{expid}
	</update>

    <!-- 增加一条学生数据 -->
    <insert id="add" parameterType="cn.tycoding.pojo.Preec">
		insert into preec
		values(#{expid},#{id_query},#{id_machine},#{id_subjects},#{advance},#{remark},#{motion_capture_info},#{slot_machine_info},#{pedar_info},#{ox_info},#{elec_info},#{video_info},#{user_name});
	</insert>
	
	<insert id="insert" parameterType="cn.tycoding.pojo.Preec">
		insert into preec
		values(#{expid},#{id_query},#{id_machine},#{id_subjects},#{advance},#{remark},#{motion_capture_info},#{slot_machine_info},#{pedar_info},#{ox_info},#{elec_info},#{video_info},#{user_name});
	</insert>
    <!-- 按学号删除学生 -->
    <delete id="del" parameterType="string">
		delete from preec
		where expid=#{expid}
	</delete>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from preec
    where expid = #{expid,jdbcType=INTEGER}
  	</delete>
    <!-- 按照filter的复杂条件查找 -->
    <select id="findByFilters" parameterType="string"
            resultType="cn.tycoding.pojo.Preec">
		${_parameter}
	</select>

    <!-- 按照filter的复杂条件查找 -->
    <select id="findByFiltersSum" parameterType="string"
            resultType="int">
		${_parameter}
	</select>
	
	<insert id="insertSelective" parameterType="cn.tycoding.pojo.Preec">
		insert into preec (id_Subjects, remark, advance) values (#{id_subjects,jdbcType=INTEGER},
		 #{remark,jdbcType=VARCHAR}, #{advance,jdbcType=LONGVARCHAR})
	</insert>

	<!-- 查找表中字段的信息，字段名称和字段备注-->
	<select id="findDbTableComment" resultType="cn.tycoding.entity.assist.DBTableComment">
        show full fields from preec
    </select>

</mapper>