<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.mapper.SubjectsMapper">
  <resultMap id="BaseResultMap" type="cn.tycoding.pojo.Subjects">
    <id column="ID" jdbcType="INTEGER" property="sub_id" />
    <result column="identity_card" jdbcType="VARCHAR" property="identity_card" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="TestDate" jdbcType="VARCHAR" property="testdate" />
    <result column="weight" jdbcType="FLOAT" property="weight" />
    <result column="height" jdbcType="FLOAT" property="height" />
  </resultMap>
 
  
  <!-- 第一个参数为页数，第二个参数为每页多少行 -->
    <select id="findByPage" resultType="cn.tycoding.pojo.Subjects">
		select * from
		subjects
		order by sub_id desc
		limit #{0},#{1}
	</select>

    <select id="getSum" resultType="int">
		select count(*) from
		subjects
	</select>
	
	<select id="find" resultType="cn.tycoding.pojo.Subjects">
		select * from
		subjects
		order by sub_id desc
		
	</select>
  	
  	<select id="selectExistSubject" resultType="integer">
		select sub_id from subjects where identity_card=#{identity_card} and name=#{name} and age=#{age} and weight=#{weight} and height=#{height} and remark=#{remark}
	</select>
  <update id="edit" parameterType="cn.tycoding.pojo.Subjects">
		update subjects set
		identity_card=#{identity_card},name=#{name},age=#{age},testdate=#{testdate},weight=#{weight},height=#{height},remark=#{remark}
		where
		sub_id=#{sub_id}
	</update>
	
	 <!-- 增加一条学生数据 -->
    <insert id="add" parameterType="cn.tycoding.pojo.Subjects">
		insert into subjects
		values(default ,#{identity_card},#{name},#{age},#{testdate},#{weight},#{height},#{remark});
	</insert>

	 <!-- 插入并返回主键 -->
   	<insert id="insertReturnID" parameterType="cn.tycoding.pojo.Subjects" useGeneratedKeys="true" keyProperty="sub_id" >
    insert into subjects (identity_card, name, age, testdate, weight, height,remark)
    values (#{identity_card,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{testdate,jdbcType=VARCHAR}, #{weight,jdbcType=FLOAT}, #{height,jdbcType=FLOAT},#{remark,jdbcType=VARCHAR})
  	</insert>
    <!-- 按学号删除学生 -->
    <delete id="del" parameterType="string">
		delete from subjects
		where sub_id=#{sub_id}
	</delete>
  
   <!-- 按照filter的复杂条件查找 -->
    <select id="findByFilters" parameterType="string"
            resultType="cn.tycoding.pojo.Subjects">
		${_parameter}
	</select>

    <!-- 按照filter的复杂条件查找 -->
    <select id="findByFiltersSum" parameterType="string"
            resultType="int">
		${_parameter}
	</select>

	<select id="findDbTableComment" resultType="cn.tycoding.entity.assist.DBTableComment">
		show full fields from subjects
	</select>

	<insert id="addTemplate" parameterType="cn.tycoding.pojo.Subjects" >
		insert into subjects (identity_card,name,age,testdate,weight,height,remark)
			select #{identity_card},#{name},#{age},#{testdate},#{weight},#{height},#{remark} from dual where not exists (
			 	select * from subjects where
			 		identity_card = #{identity_card} and
			 		name = #{name} and
			 		age = #{age} and
			 		testdate = #{testdate} and
			 		weight = #{weight} and
			 		height = #{height} and
			 		remark = #{remark}
			 		limit 1
			 );
	</insert>
  
</mapper>