<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.mapper.TmpFootPressureFgtMapper">
  <resultMap id="BaseResultMap" type="cn.tycoding.pojo.TmpFootPressureFgt">
    <id column="expid" jdbcType="INTEGER" property="expid" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="timestamp" jdbcType="DOUBLE" property="timestamp" />
    <result column="left_x" jdbcType="DOUBLE" property="left_x" />
    <result column="left_y" jdbcType="DOUBLE" property="left_y" />
    <result column="right_x" jdbcType="DOUBLE" property="right_x" />
    <result column="right_y" jdbcType="DOUBLE" property="right_y" />
  </resultMap>
  <sql id="Base_Column_List">
    expid, id, timestamp, left_x, left_y, right_x, right_y
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.tycoding.pojo.TmpFootPressureFgtKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tmp_foot_pressure_fgt
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.tycoding.pojo.TmpFootPressureFgtKey">
    delete from tmp_foot_pressure_fgt
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tycoding.pojo.TmpFootPressureFgt">
    insert into tmp_foot_pressure_fgt (expid, id, timestamp, 
      left_x, left_y, right_x, 
      right_y)
    values (#{expid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{timestamp,jdbcType=DOUBLE}, 
      #{left_x,jdbcType=DOUBLE}, #{left_y,jdbcType=DOUBLE}, #{right_x,jdbcType=DOUBLE}, 
      #{right_y,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.tycoding.pojo.TmpFootPressureFgt">
    insert into tmp_foot_pressure_fgt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expid != null">
        expid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="left_x != null">
        left_x,
      </if>
      <if test="left_y != null">
        left_y,
      </if>
      <if test="right_x != null">
        right_x,
      </if>
      <if test="right_y != null">
        right_y,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expid != null">
        #{expid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=DOUBLE},
      </if>
      <if test="left_x != null">
        #{left_x,jdbcType=DOUBLE},
      </if>
      <if test="left_y != null">
        #{left_y,jdbcType=DOUBLE},
      </if>
      <if test="right_x != null">
        #{right_x,jdbcType=DOUBLE},
      </if>
      <if test="right_y != null">
        #{right_y,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tycoding.pojo.TmpFootPressureFgt">
    update tmp_foot_pressure_fgt
    <set>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=DOUBLE},
      </if>
      <if test="left_x != null">
        left_x = #{left_x,jdbcType=DOUBLE},
      </if>
      <if test="left_y != null">
        left_y = #{left_y,jdbcType=DOUBLE},
      </if>
      <if test="right_x != null">
        right_x = #{right_x,jdbcType=DOUBLE},
      </if>
      <if test="right_y != null">
        right_y = #{right_y,jdbcType=DOUBLE},
      </if>
    </set>
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tycoding.pojo.TmpFootPressureFgt">
    update tmp_foot_pressure_fgt
    set timestamp = #{timestamp,jdbcType=DOUBLE},
      left_x = #{left_x,jdbcType=DOUBLE},
      left_y = #{left_y,jdbcType=DOUBLE},
      right_x = #{right_x,jdbcType=DOUBLE},
      right_y = #{right_y,jdbcType=DOUBLE}
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>