<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.mapper.TmpSlotMachineMapper">
  <resultMap id="BaseResultMap" type="cn.tycoding.pojo.TmpSlotMachine">
    <id column="expid" jdbcType="INTEGER" property="expid" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="timestamp" jdbcType="DOUBLE" property="timestamp" />
    <result column="ground_force_vx" jdbcType="DOUBLE" property="ground_force_vx" />
    <result column="ground_force_vy" jdbcType="DOUBLE" property="ground_force_vy" />
    <result column="ground_force_vz" jdbcType="DOUBLE" property="ground_force_vz" />
    <result column="ground_force_px" jdbcType="DOUBLE" property="ground_force_px" />
    <result column="ground_force_py" jdbcType="DOUBLE" property="ground_force_py" />
    <result column="ground_force_pz" jdbcType="DOUBLE" property="ground_force_pz" />
    <result column="ground_force_vx_1" jdbcType="DOUBLE" property="ground_force_vx_1" />
    <result column="ground_force_vy_1" jdbcType="DOUBLE" property="ground_force_vy_1" />
    <result column="ground_force_vz_1" jdbcType="DOUBLE" property="ground_force_vz_1" />
    <result column="ground_force_px_1" jdbcType="DOUBLE" property="ground_force_px_1" />
    <result column="ground_force_py_1" jdbcType="DOUBLE" property="ground_force_py_1" />
    <result column="ground_force_pz_1" jdbcType="DOUBLE" property="ground_force_pz_1" />
    <result column="ground_torque_x" jdbcType="DOUBLE" property="ground_torque_x" />
    <result column="ground_torque_y" jdbcType="DOUBLE" property="ground_torque_y" />
    <result column="ground_torque_z" jdbcType="DOUBLE" property="ground_torque_z" />
    <result column="ground_torque_x_1" jdbcType="DOUBLE" property="ground_torque_x_1" />
    <result column="ground_torque_y_1" jdbcType="DOUBLE" property="ground_torque_y_1" />
    <result column="ground_torque_z_1" jdbcType="DOUBLE" property="ground_torque_z_1" />
    <result column="torso_force_vx" jdbcType="DOUBLE" property="torso_force_vx" />
    <result column="torso_force_vy" jdbcType="DOUBLE" property="torso_force_vy" />
    <result column="torso_force_vz" jdbcType="DOUBLE" property="torso_force_vz" />
    <result column="torso_force_px" jdbcType="DOUBLE" property="torso_force_px" />
    <result column="torso_force_py" jdbcType="DOUBLE" property="torso_force_py" />
    <result column="torso_force_pz" jdbcType="DOUBLE" property="torso_force_pz" />
    <result column="tibia_r_force_vx" jdbcType="DOUBLE" property="tibia_r_force_vx" />
    <result column="tibia_r_force_vy" jdbcType="DOUBLE" property="tibia_r_force_vy" />
    <result column="tibia_r_force_vz" jdbcType="DOUBLE" property="tibia_r_force_vz" />
    <result column="tibia_r_force_px" jdbcType="DOUBLE" property="tibia_r_force_px" />
    <result column="tibia_r_force_py" jdbcType="DOUBLE" property="tibia_r_force_py" />
    <result column="tibia_r_force_pz" jdbcType="DOUBLE" property="tibia_r_force_pz" />
    <result column="tibia_l_force_vx" jdbcType="DOUBLE" property="tibia_l_force_vx" />
    <result column="tibia_l_force_vy" jdbcType="DOUBLE" property="tibia_l_force_vy" />
    <result column="tibia_l_force_vz" jdbcType="DOUBLE" property="tibia_l_force_vz" />
    <result column="tibia_l_force_px" jdbcType="DOUBLE" property="tibia_l_force_px" />
    <result column="tibia_l_force_py" jdbcType="DOUBLE" property="tibia_l_force_py" />
    <result column="tibia_l_force_pz" jdbcType="DOUBLE" property="tibia_l_force_pz" />
    <result column="torso_torque_x" jdbcType="DOUBLE" property="torso_torque_x" />
    <result column="torso_torque_y" jdbcType="DOUBLE" property="torso_torque_y" />
    <result column="torso_torque_z" jdbcType="DOUBLE" property="torso_torque_z" />
    <result column="tibia_r_torque_x" jdbcType="DOUBLE" property="tibia_r_torque_x" />
    <result column="tibia_r_torque_y" jdbcType="DOUBLE" property="tibia_r_torque_y" />
    <result column="tibia_r_torque_z" jdbcType="DOUBLE" property="tibia_r_torque_z" />
    <result column="tibia_l_torque_x" jdbcType="DOUBLE" property="tibia_l_torque_x" />
    <result column="tibia_l_torque_y" jdbcType="DOUBLE" property="tibia_l_torque_y" />
    <result column="tibia_l_torque_z" jdbcType="DOUBLE" property="tibia_l_torque_z" />
    <result column="heavy_r_force_vx" jdbcType="DOUBLE" property="heavy_r_force_vx" />
    <result column="heavy_r_force_vy" jdbcType="DOUBLE" property="heavy_r_force_vy" />
    <result column="heavy_r_force_vz" jdbcType="DOUBLE" property="heavy_r_force_vz" />
    <result column="heavy_r_force_px" jdbcType="DOUBLE" property="heavy_r_force_px" />
    <result column="heavy_r_force_py" jdbcType="DOUBLE" property="heavy_r_force_py" />
    <result column="heavy_r_force_pz" jdbcType="DOUBLE" property="heavy_r_force_pz" />
    <result column="heavy_l_force_vx" jdbcType="DOUBLE" property="heavy_l_force_vx" />
    <result column="heavy_l_force_vy" jdbcType="DOUBLE" property="heavy_l_force_vy" />
    <result column="heavy_l_force_vz" jdbcType="DOUBLE" property="heavy_l_force_vz" />
    <result column="heavy_l_force_px" jdbcType="DOUBLE" property="heavy_l_force_px" />
    <result column="heavy_l_force_py" jdbcType="DOUBLE" property="heavy_l_force_py" />
    <result column="heavy_l_force_pz" jdbcType="DOUBLE" property="heavy_l_force_pz" />
    <result column="heavy_r_torque_x" jdbcType="DOUBLE" property="heavy_r_torque_x" />
    <result column="heavy_r_torque_y" jdbcType="DOUBLE" property="heavy_r_torque_y" />
    <result column="heavy_r_torque_z" jdbcType="DOUBLE" property="heavy_r_torque_z" />
    <result column="heavy_l_torque_x" jdbcType="DOUBLE" property="heavy_l_torque_x" />
    <result column="heavy_l_torque_y" jdbcType="DOUBLE" property="heavy_l_torque_y" />
    <result column="heavy_l_torque_z" jdbcType="DOUBLE" property="heavy_l_torque_z" />
    <result column="radius_r_force_vx" jdbcType="DOUBLE" property="radius_r_force_vx" />
    <result column="radius_r_force_vy" jdbcType="DOUBLE" property="radius_r_force_vy" />
    <result column="radius_r_force_vz" jdbcType="DOUBLE" property="radius_r_force_vz" />
    <result column="radius_r_force_px" jdbcType="DOUBLE" property="radius_r_force_px" />
    <result column="radius_r_force_py" jdbcType="DOUBLE" property="radius_r_force_py" />
    <result column="radius_r_force_pz" jdbcType="DOUBLE" property="radius_r_force_pz" />
    <result column="radius_l_force_vx" jdbcType="DOUBLE" property="radius_l_force_vx" />
    <result column="radius_l_force_vy" jdbcType="DOUBLE" property="radius_l_force_vy" />
    <result column="radius_l_force_vz" jdbcType="DOUBLE" property="radius_l_force_vz" />
    <result column="radius_l_force_px" jdbcType="DOUBLE" property="radius_l_force_px" />
    <result column="radius_l_force_py" jdbcType="DOUBLE" property="radius_l_force_py" />
    <result column="radius_l_force_pz" jdbcType="DOUBLE" property="radius_l_force_pz" />
    <result column="radius_r_torque_x" jdbcType="DOUBLE" property="radius_r_torque_x" />
    <result column="radius_r_torque_y" jdbcType="DOUBLE" property="radius_r_torque_y" />
    <result column="radius_r_torque_z" jdbcType="DOUBLE" property="radius_r_torque_z" />
    <result column="radius_l_torque_x" jdbcType="DOUBLE" property="radius_l_torque_x" />
    <result column="radius_l_torque_y" jdbcType="DOUBLE" property="radius_l_torque_y" />
    <result column="radius_l_torque_z" jdbcType="DOUBLE" property="radius_l_torque_z" />
  </resultMap>
  <sql id="Base_Column_List">
    expid, id, timestamp, ground_force_vx, ground_force_vy, ground_force_vz, ground_force_px, 
    ground_force_py, ground_force_pz, ground_force_vx_1, ground_force_vy_1, ground_force_vz_1, 
    ground_force_px_1, ground_force_py_1, ground_force_pz_1, ground_torque_x, ground_torque_y, 
    ground_torque_z, ground_torque_x_1, ground_torque_y_1, ground_torque_z_1, torso_force_vx, 
    torso_force_vy, torso_force_vz, torso_force_px, torso_force_py, torso_force_pz, tibia_r_force_vx, 
    tibia_r_force_vy, tibia_r_force_vz, tibia_r_force_px, tibia_r_force_py, tibia_r_force_pz, 
    tibia_l_force_vx, tibia_l_force_vy, tibia_l_force_vz, tibia_l_force_px, tibia_l_force_py, 
    tibia_l_force_pz, torso_torque_x, torso_torque_y, torso_torque_z, tibia_r_torque_x, 
    tibia_r_torque_y, tibia_r_torque_z, tibia_l_torque_x, tibia_l_torque_y, tibia_l_torque_z, 
    heavy_r_force_vx, heavy_r_force_vy, heavy_r_force_vz, heavy_r_force_px, heavy_r_force_py, 
    heavy_r_force_pz, heavy_l_force_vx, heavy_l_force_vy, heavy_l_force_vz, heavy_l_force_px, 
    heavy_l_force_py, heavy_l_force_pz, heavy_r_torque_x, heavy_r_torque_y, heavy_r_torque_z, 
    heavy_l_torque_x, heavy_l_torque_y, heavy_l_torque_z, radius_r_force_vx, radius_r_force_vy, 
    radius_r_force_vz, radius_r_force_px, radius_r_force_py, radius_r_force_pz, radius_l_force_vx, 
    radius_l_force_vy, radius_l_force_vz, radius_l_force_px, radius_l_force_py, radius_l_force_pz, 
    radius_r_torque_x, radius_r_torque_y, radius_r_torque_z, radius_l_torque_x, radius_l_torque_y, 
    radius_l_torque_z
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.tycoding.pojo.TmpSlotMachineKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tmp_slot_machine
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.tycoding.pojo.TmpSlotMachineKey">
    delete from tmp_slot_machine
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tycoding.pojo.TmpSlotMachine">
    insert into tmp_slot_machine (expid, id, timestamp, 
      ground_force_vx, ground_force_vy, ground_force_vz, 
      ground_force_px, ground_force_py, ground_force_pz, 
      ground_force_vx_1, ground_force_vy_1, ground_force_vz_1, 
      ground_force_px_1, ground_force_py_1, ground_force_pz_1, 
      ground_torque_x, ground_torque_y, ground_torque_z, 
      ground_torque_x_1, ground_torque_y_1, ground_torque_z_1, 
      torso_force_vx, torso_force_vy, torso_force_vz, 
      torso_force_px, torso_force_py, torso_force_pz, 
      tibia_r_force_vx, tibia_r_force_vy, tibia_r_force_vz, 
      tibia_r_force_px, tibia_r_force_py, tibia_r_force_pz, 
      tibia_l_force_vx, tibia_l_force_vy, tibia_l_force_vz, 
      tibia_l_force_px, tibia_l_force_py, tibia_l_force_pz, 
      torso_torque_x, torso_torque_y, torso_torque_z, 
      tibia_r_torque_x, tibia_r_torque_y, tibia_r_torque_z, 
      tibia_l_torque_x, tibia_l_torque_y, tibia_l_torque_z, 
      heavy_r_force_vx, heavy_r_force_vy, heavy_r_force_vz, 
      heavy_r_force_px, heavy_r_force_py, heavy_r_force_pz, 
      heavy_l_force_vx, heavy_l_force_vy, heavy_l_force_vz, 
      heavy_l_force_px, heavy_l_force_py, heavy_l_force_pz, 
      heavy_r_torque_x, heavy_r_torque_y, heavy_r_torque_z, 
      heavy_l_torque_x, heavy_l_torque_y, heavy_l_torque_z, 
      radius_r_force_vx, radius_r_force_vy, radius_r_force_vz, 
      radius_r_force_px, radius_r_force_py, radius_r_force_pz, 
      radius_l_force_vx, radius_l_force_vy, radius_l_force_vz, 
      radius_l_force_px, radius_l_force_py, radius_l_force_pz, 
      radius_r_torque_x, radius_r_torque_y, radius_r_torque_z, 
      radius_l_torque_x, radius_l_torque_y, radius_l_torque_z
      )
    values (#{expid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{timestamp,jdbcType=DOUBLE}, 
      #{ground_force_vx,jdbcType=DOUBLE}, #{ground_force_vy,jdbcType=DOUBLE}, #{ground_force_vz,jdbcType=DOUBLE}, 
      #{ground_force_px,jdbcType=DOUBLE}, #{ground_force_py,jdbcType=DOUBLE}, #{ground_force_pz,jdbcType=DOUBLE}, 
      #{ground_force_vx_1,jdbcType=DOUBLE}, #{ground_force_vy_1,jdbcType=DOUBLE}, #{ground_force_vz_1,jdbcType=DOUBLE}, 
      #{ground_force_px_1,jdbcType=DOUBLE}, #{ground_force_py_1,jdbcType=DOUBLE}, #{ground_force_pz_1,jdbcType=DOUBLE}, 
      #{ground_torque_x,jdbcType=DOUBLE}, #{ground_torque_y,jdbcType=DOUBLE}, #{ground_torque_z,jdbcType=DOUBLE}, 
      #{ground_torque_x_1,jdbcType=DOUBLE}, #{ground_torque_y_1,jdbcType=DOUBLE}, #{ground_torque_z_1,jdbcType=DOUBLE}, 
      #{torso_force_vx,jdbcType=DOUBLE}, #{torso_force_vy,jdbcType=DOUBLE}, #{torso_force_vz,jdbcType=DOUBLE}, 
      #{torso_force_px,jdbcType=DOUBLE}, #{torso_force_py,jdbcType=DOUBLE}, #{torso_force_pz,jdbcType=DOUBLE}, 
      #{tibia_r_force_vx,jdbcType=DOUBLE}, #{tibia_r_force_vy,jdbcType=DOUBLE}, #{tibia_r_force_vz,jdbcType=DOUBLE}, 
      #{tibia_r_force_px,jdbcType=DOUBLE}, #{tibia_r_force_py,jdbcType=DOUBLE}, #{tibia_r_force_pz,jdbcType=DOUBLE}, 
      #{tibia_l_force_vx,jdbcType=DOUBLE}, #{tibia_l_force_vy,jdbcType=DOUBLE}, #{tibia_l_force_vz,jdbcType=DOUBLE}, 
      #{tibia_l_force_px,jdbcType=DOUBLE}, #{tibia_l_force_py,jdbcType=DOUBLE}, #{tibia_l_force_pz,jdbcType=DOUBLE}, 
      #{torso_torque_x,jdbcType=DOUBLE}, #{torso_torque_y,jdbcType=DOUBLE}, #{torso_torque_z,jdbcType=DOUBLE}, 
      #{tibia_r_torque_x,jdbcType=DOUBLE}, #{tibia_r_torque_y,jdbcType=DOUBLE}, #{tibia_r_torque_z,jdbcType=DOUBLE}, 
      #{tibia_l_torque_x,jdbcType=DOUBLE}, #{tibia_l_torque_y,jdbcType=DOUBLE}, #{tibia_l_torque_z,jdbcType=DOUBLE}, 
      #{heavy_r_force_vx,jdbcType=DOUBLE}, #{heavy_r_force_vy,jdbcType=DOUBLE}, #{heavy_r_force_vz,jdbcType=DOUBLE}, 
      #{heavy_r_force_px,jdbcType=DOUBLE}, #{heavy_r_force_py,jdbcType=DOUBLE}, #{heavy_r_force_pz,jdbcType=DOUBLE}, 
      #{heavy_l_force_vx,jdbcType=DOUBLE}, #{heavy_l_force_vy,jdbcType=DOUBLE}, #{heavy_l_force_vz,jdbcType=DOUBLE}, 
      #{heavy_l_force_px,jdbcType=DOUBLE}, #{heavy_l_force_py,jdbcType=DOUBLE}, #{heavy_l_force_pz,jdbcType=DOUBLE}, 
      #{heavy_r_torque_x,jdbcType=DOUBLE}, #{heavy_r_torque_y,jdbcType=DOUBLE}, #{heavy_r_torque_z,jdbcType=DOUBLE}, 
      #{heavy_l_torque_x,jdbcType=DOUBLE}, #{heavy_l_torque_y,jdbcType=DOUBLE}, #{heavy_l_torque_z,jdbcType=DOUBLE}, 
      #{radius_r_force_vx,jdbcType=DOUBLE}, #{radius_r_force_vy,jdbcType=DOUBLE}, #{radius_r_force_vz,jdbcType=DOUBLE}, 
      #{radius_r_force_px,jdbcType=DOUBLE}, #{radius_r_force_py,jdbcType=DOUBLE}, #{radius_r_force_pz,jdbcType=DOUBLE}, 
      #{radius_l_force_vx,jdbcType=DOUBLE}, #{radius_l_force_vy,jdbcType=DOUBLE}, #{radius_l_force_vz,jdbcType=DOUBLE}, 
      #{radius_l_force_px,jdbcType=DOUBLE}, #{radius_l_force_py,jdbcType=DOUBLE}, #{radius_l_force_pz,jdbcType=DOUBLE}, 
      #{radius_r_torque_x,jdbcType=DOUBLE}, #{radius_r_torque_y,jdbcType=DOUBLE}, #{radius_r_torque_z,jdbcType=DOUBLE}, 
      #{radius_l_torque_x,jdbcType=DOUBLE}, #{radius_l_torque_y,jdbcType=DOUBLE}, #{radius_l_torque_z,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.tycoding.pojo.TmpSlotMachine">
    insert into tmp_slot_machine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expid != null">
        expid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="ground_force_vx != null">
        ground_force_vx,
      </if>
      <if test="ground_force_vy != null">
        ground_force_vy,
      </if>
      <if test="ground_force_vz != null">
        ground_force_vz,
      </if>
      <if test="ground_force_px != null">
        ground_force_px,
      </if>
      <if test="ground_force_py != null">
        ground_force_py,
      </if>
      <if test="ground_force_pz != null">
        ground_force_pz,
      </if>
      <if test="ground_force_vx_1 != null">
        ground_force_vx_1,
      </if>
      <if test="ground_force_vy_1 != null">
        ground_force_vy_1,
      </if>
      <if test="ground_force_vz_1 != null">
        ground_force_vz_1,
      </if>
      <if test="ground_force_px_1 != null">
        ground_force_px_1,
      </if>
      <if test="ground_force_py_1 != null">
        ground_force_py_1,
      </if>
      <if test="ground_force_pz_1 != null">
        ground_force_pz_1,
      </if>
      <if test="ground_torque_x != null">
        ground_torque_x,
      </if>
      <if test="ground_torque_y != null">
        ground_torque_y,
      </if>
      <if test="ground_torque_z != null">
        ground_torque_z,
      </if>
      <if test="ground_torque_x_1 != null">
        ground_torque_x_1,
      </if>
      <if test="ground_torque_y_1 != null">
        ground_torque_y_1,
      </if>
      <if test="ground_torque_z_1 != null">
        ground_torque_z_1,
      </if>
      <if test="torso_force_vx != null">
        torso_force_vx,
      </if>
      <if test="torso_force_vy != null">
        torso_force_vy,
      </if>
      <if test="torso_force_vz != null">
        torso_force_vz,
      </if>
      <if test="torso_force_px != null">
        torso_force_px,
      </if>
      <if test="torso_force_py != null">
        torso_force_py,
      </if>
      <if test="torso_force_pz != null">
        torso_force_pz,
      </if>
      <if test="tibia_r_force_vx != null">
        tibia_r_force_vx,
      </if>
      <if test="tibia_r_force_vy != null">
        tibia_r_force_vy,
      </if>
      <if test="tibia_r_force_vz != null">
        tibia_r_force_vz,
      </if>
      <if test="tibia_r_force_px != null">
        tibia_r_force_px,
      </if>
      <if test="tibia_r_force_py != null">
        tibia_r_force_py,
      </if>
      <if test="tibia_r_force_pz != null">
        tibia_r_force_pz,
      </if>
      <if test="tibia_l_force_vx != null">
        tibia_l_force_vx,
      </if>
      <if test="tibia_l_force_vy != null">
        tibia_l_force_vy,
      </if>
      <if test="tibia_l_force_vz != null">
        tibia_l_force_vz,
      </if>
      <if test="tibia_l_force_px != null">
        tibia_l_force_px,
      </if>
      <if test="tibia_l_force_py != null">
        tibia_l_force_py,
      </if>
      <if test="tibia_l_force_pz != null">
        tibia_l_force_pz,
      </if>
      <if test="torso_torque_x != null">
        torso_torque_x,
      </if>
      <if test="torso_torque_y != null">
        torso_torque_y,
      </if>
      <if test="torso_torque_z != null">
        torso_torque_z,
      </if>
      <if test="tibia_r_torque_x != null">
        tibia_r_torque_x,
      </if>
      <if test="tibia_r_torque_y != null">
        tibia_r_torque_y,
      </if>
      <if test="tibia_r_torque_z != null">
        tibia_r_torque_z,
      </if>
      <if test="tibia_l_torque_x != null">
        tibia_l_torque_x,
      </if>
      <if test="tibia_l_torque_y != null">
        tibia_l_torque_y,
      </if>
      <if test="tibia_l_torque_z != null">
        tibia_l_torque_z,
      </if>
      <if test="heavy_r_force_vx != null">
        heavy_r_force_vx,
      </if>
      <if test="heavy_r_force_vy != null">
        heavy_r_force_vy,
      </if>
      <if test="heavy_r_force_vz != null">
        heavy_r_force_vz,
      </if>
      <if test="heavy_r_force_px != null">
        heavy_r_force_px,
      </if>
      <if test="heavy_r_force_py != null">
        heavy_r_force_py,
      </if>
      <if test="heavy_r_force_pz != null">
        heavy_r_force_pz,
      </if>
      <if test="heavy_l_force_vx != null">
        heavy_l_force_vx,
      </if>
      <if test="heavy_l_force_vy != null">
        heavy_l_force_vy,
      </if>
      <if test="heavy_l_force_vz != null">
        heavy_l_force_vz,
      </if>
      <if test="heavy_l_force_px != null">
        heavy_l_force_px,
      </if>
      <if test="heavy_l_force_py != null">
        heavy_l_force_py,
      </if>
      <if test="heavy_l_force_pz != null">
        heavy_l_force_pz,
      </if>
      <if test="heavy_r_torque_x != null">
        heavy_r_torque_x,
      </if>
      <if test="heavy_r_torque_y != null">
        heavy_r_torque_y,
      </if>
      <if test="heavy_r_torque_z != null">
        heavy_r_torque_z,
      </if>
      <if test="heavy_l_torque_x != null">
        heavy_l_torque_x,
      </if>
      <if test="heavy_l_torque_y != null">
        heavy_l_torque_y,
      </if>
      <if test="heavy_l_torque_z != null">
        heavy_l_torque_z,
      </if>
      <if test="radius_r_force_vx != null">
        radius_r_force_vx,
      </if>
      <if test="radius_r_force_vy != null">
        radius_r_force_vy,
      </if>
      <if test="radius_r_force_vz != null">
        radius_r_force_vz,
      </if>
      <if test="radius_r_force_px != null">
        radius_r_force_px,
      </if>
      <if test="radius_r_force_py != null">
        radius_r_force_py,
      </if>
      <if test="radius_r_force_pz != null">
        radius_r_force_pz,
      </if>
      <if test="radius_l_force_vx != null">
        radius_l_force_vx,
      </if>
      <if test="radius_l_force_vy != null">
        radius_l_force_vy,
      </if>
      <if test="radius_l_force_vz != null">
        radius_l_force_vz,
      </if>
      <if test="radius_l_force_px != null">
        radius_l_force_px,
      </if>
      <if test="radius_l_force_py != null">
        radius_l_force_py,
      </if>
      <if test="radius_l_force_pz != null">
        radius_l_force_pz,
      </if>
      <if test="radius_r_torque_x != null">
        radius_r_torque_x,
      </if>
      <if test="radius_r_torque_y != null">
        radius_r_torque_y,
      </if>
      <if test="radius_r_torque_z != null">
        radius_r_torque_z,
      </if>
      <if test="radius_l_torque_x != null">
        radius_l_torque_x,
      </if>
      <if test="radius_l_torque_y != null">
        radius_l_torque_y,
      </if>
      <if test="radius_l_torque_z != null">
        radius_l_torque_z,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expid != null">
        #{expid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vx != null">
        #{ground_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vy != null">
        #{ground_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vz != null">
        #{ground_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_px != null">
        #{ground_force_px,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_py != null">
        #{ground_force_py,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_pz != null">
        #{ground_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vx_1 != null">
        #{ground_force_vx_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vy_1 != null">
        #{ground_force_vy_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vz_1 != null">
        #{ground_force_vz_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_px_1 != null">
        #{ground_force_px_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_py_1 != null">
        #{ground_force_py_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_pz_1 != null">
        #{ground_force_pz_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_x != null">
        #{ground_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_y != null">
        #{ground_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_z != null">
        #{ground_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_x_1 != null">
        #{ground_torque_x_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_y_1 != null">
        #{ground_torque_y_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_z_1 != null">
        #{ground_torque_z_1,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vx != null">
        #{torso_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vy != null">
        #{torso_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vz != null">
        #{torso_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_px != null">
        #{torso_force_px,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_py != null">
        #{torso_force_py,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_pz != null">
        #{torso_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vx != null">
        #{tibia_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vy != null">
        #{tibia_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vz != null">
        #{tibia_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_px != null">
        #{tibia_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_py != null">
        #{tibia_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_pz != null">
        #{tibia_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vx != null">
        #{tibia_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vy != null">
        #{tibia_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vz != null">
        #{tibia_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_px != null">
        #{tibia_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_py != null">
        #{tibia_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_pz != null">
        #{tibia_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_x != null">
        #{torso_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_y != null">
        #{torso_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_z != null">
        #{torso_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_x != null">
        #{tibia_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_y != null">
        #{tibia_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_z != null">
        #{tibia_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_x != null">
        #{tibia_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_y != null">
        #{tibia_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_z != null">
        #{tibia_l_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vx != null">
        #{heavy_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vy != null">
        #{heavy_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vz != null">
        #{heavy_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_px != null">
        #{heavy_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_py != null">
        #{heavy_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_pz != null">
        #{heavy_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vx != null">
        #{heavy_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vy != null">
        #{heavy_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vz != null">
        #{heavy_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_px != null">
        #{heavy_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_py != null">
        #{heavy_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_pz != null">
        #{heavy_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_x != null">
        #{heavy_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_y != null">
        #{heavy_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_z != null">
        #{heavy_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_x != null">
        #{heavy_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_y != null">
        #{heavy_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_z != null">
        #{heavy_l_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vx != null">
        #{radius_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vy != null">
        #{radius_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vz != null">
        #{radius_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_px != null">
        #{radius_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_py != null">
        #{radius_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_pz != null">
        #{radius_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vx != null">
        #{radius_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vy != null">
        #{radius_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vz != null">
        #{radius_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_px != null">
        #{radius_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_py != null">
        #{radius_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_pz != null">
        #{radius_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_x != null">
        #{radius_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_y != null">
        #{radius_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_z != null">
        #{radius_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_x != null">
        #{radius_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_y != null">
        #{radius_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_z != null">
        #{radius_l_torque_z,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tycoding.pojo.TmpSlotMachine">
    update tmp_slot_machine
    <set>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vx != null">
        ground_force_vx = #{ground_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vy != null">
        ground_force_vy = #{ground_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vz != null">
        ground_force_vz = #{ground_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_px != null">
        ground_force_px = #{ground_force_px,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_py != null">
        ground_force_py = #{ground_force_py,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_pz != null">
        ground_force_pz = #{ground_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vx_1 != null">
        ground_force_vx_1 = #{ground_force_vx_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vy_1 != null">
        ground_force_vy_1 = #{ground_force_vy_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_vz_1 != null">
        ground_force_vz_1 = #{ground_force_vz_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_px_1 != null">
        ground_force_px_1 = #{ground_force_px_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_py_1 != null">
        ground_force_py_1 = #{ground_force_py_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_force_pz_1 != null">
        ground_force_pz_1 = #{ground_force_pz_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_x != null">
        ground_torque_x = #{ground_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_y != null">
        ground_torque_y = #{ground_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_z != null">
        ground_torque_z = #{ground_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_x_1 != null">
        ground_torque_x_1 = #{ground_torque_x_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_y_1 != null">
        ground_torque_y_1 = #{ground_torque_y_1,jdbcType=DOUBLE},
      </if>
      <if test="ground_torque_z_1 != null">
        ground_torque_z_1 = #{ground_torque_z_1,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vx != null">
        torso_force_vx = #{torso_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vy != null">
        torso_force_vy = #{torso_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_vz != null">
        torso_force_vz = #{torso_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_px != null">
        torso_force_px = #{torso_force_px,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_py != null">
        torso_force_py = #{torso_force_py,jdbcType=DOUBLE},
      </if>
      <if test="torso_force_pz != null">
        torso_force_pz = #{torso_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vx != null">
        tibia_r_force_vx = #{tibia_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vy != null">
        tibia_r_force_vy = #{tibia_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_vz != null">
        tibia_r_force_vz = #{tibia_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_px != null">
        tibia_r_force_px = #{tibia_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_py != null">
        tibia_r_force_py = #{tibia_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_force_pz != null">
        tibia_r_force_pz = #{tibia_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vx != null">
        tibia_l_force_vx = #{tibia_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vy != null">
        tibia_l_force_vy = #{tibia_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_vz != null">
        tibia_l_force_vz = #{tibia_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_px != null">
        tibia_l_force_px = #{tibia_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_py != null">
        tibia_l_force_py = #{tibia_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_force_pz != null">
        tibia_l_force_pz = #{tibia_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_x != null">
        torso_torque_x = #{torso_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_y != null">
        torso_torque_y = #{torso_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="torso_torque_z != null">
        torso_torque_z = #{torso_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_x != null">
        tibia_r_torque_x = #{tibia_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_y != null">
        tibia_r_torque_y = #{tibia_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="tibia_r_torque_z != null">
        tibia_r_torque_z = #{tibia_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_x != null">
        tibia_l_torque_x = #{tibia_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_y != null">
        tibia_l_torque_y = #{tibia_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="tibia_l_torque_z != null">
        tibia_l_torque_z = #{tibia_l_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vx != null">
        heavy_r_force_vx = #{heavy_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vy != null">
        heavy_r_force_vy = #{heavy_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_vz != null">
        heavy_r_force_vz = #{heavy_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_px != null">
        heavy_r_force_px = #{heavy_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_py != null">
        heavy_r_force_py = #{heavy_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_force_pz != null">
        heavy_r_force_pz = #{heavy_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vx != null">
        heavy_l_force_vx = #{heavy_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vy != null">
        heavy_l_force_vy = #{heavy_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_vz != null">
        heavy_l_force_vz = #{heavy_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_px != null">
        heavy_l_force_px = #{heavy_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_py != null">
        heavy_l_force_py = #{heavy_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_force_pz != null">
        heavy_l_force_pz = #{heavy_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_x != null">
        heavy_r_torque_x = #{heavy_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_y != null">
        heavy_r_torque_y = #{heavy_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="heavy_r_torque_z != null">
        heavy_r_torque_z = #{heavy_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_x != null">
        heavy_l_torque_x = #{heavy_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_y != null">
        heavy_l_torque_y = #{heavy_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="heavy_l_torque_z != null">
        heavy_l_torque_z = #{heavy_l_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vx != null">
        radius_r_force_vx = #{radius_r_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vy != null">
        radius_r_force_vy = #{radius_r_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_vz != null">
        radius_r_force_vz = #{radius_r_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_px != null">
        radius_r_force_px = #{radius_r_force_px,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_py != null">
        radius_r_force_py = #{radius_r_force_py,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_force_pz != null">
        radius_r_force_pz = #{radius_r_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vx != null">
        radius_l_force_vx = #{radius_l_force_vx,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vy != null">
        radius_l_force_vy = #{radius_l_force_vy,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_vz != null">
        radius_l_force_vz = #{radius_l_force_vz,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_px != null">
        radius_l_force_px = #{radius_l_force_px,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_py != null">
        radius_l_force_py = #{radius_l_force_py,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_force_pz != null">
        radius_l_force_pz = #{radius_l_force_pz,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_x != null">
        radius_r_torque_x = #{radius_r_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_y != null">
        radius_r_torque_y = #{radius_r_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="radius_r_torque_z != null">
        radius_r_torque_z = #{radius_r_torque_z,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_x != null">
        radius_l_torque_x = #{radius_l_torque_x,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_y != null">
        radius_l_torque_y = #{radius_l_torque_y,jdbcType=DOUBLE},
      </if>
      <if test="radius_l_torque_z != null">
        radius_l_torque_z = #{radius_l_torque_z,jdbcType=DOUBLE},
      </if>
    </set>
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tycoding.pojo.TmpSlotMachine">
    update tmp_slot_machine
    set timestamp = #{timestamp,jdbcType=DOUBLE},
      ground_force_vx = #{ground_force_vx,jdbcType=DOUBLE},
      ground_force_vy = #{ground_force_vy,jdbcType=DOUBLE},
      ground_force_vz = #{ground_force_vz,jdbcType=DOUBLE},
      ground_force_px = #{ground_force_px,jdbcType=DOUBLE},
      ground_force_py = #{ground_force_py,jdbcType=DOUBLE},
      ground_force_pz = #{ground_force_pz,jdbcType=DOUBLE},
      ground_force_vx_1 = #{ground_force_vx_1,jdbcType=DOUBLE},
      ground_force_vy_1 = #{ground_force_vy_1,jdbcType=DOUBLE},
      ground_force_vz_1 = #{ground_force_vz_1,jdbcType=DOUBLE},
      ground_force_px_1 = #{ground_force_px_1,jdbcType=DOUBLE},
      ground_force_py_1 = #{ground_force_py_1,jdbcType=DOUBLE},
      ground_force_pz_1 = #{ground_force_pz_1,jdbcType=DOUBLE},
      ground_torque_x = #{ground_torque_x,jdbcType=DOUBLE},
      ground_torque_y = #{ground_torque_y,jdbcType=DOUBLE},
      ground_torque_z = #{ground_torque_z,jdbcType=DOUBLE},
      ground_torque_x_1 = #{ground_torque_x_1,jdbcType=DOUBLE},
      ground_torque_y_1 = #{ground_torque_y_1,jdbcType=DOUBLE},
      ground_torque_z_1 = #{ground_torque_z_1,jdbcType=DOUBLE},
      torso_force_vx = #{torso_force_vx,jdbcType=DOUBLE},
      torso_force_vy = #{torso_force_vy,jdbcType=DOUBLE},
      torso_force_vz = #{torso_force_vz,jdbcType=DOUBLE},
      torso_force_px = #{torso_force_px,jdbcType=DOUBLE},
      torso_force_py = #{torso_force_py,jdbcType=DOUBLE},
      torso_force_pz = #{torso_force_pz,jdbcType=DOUBLE},
      tibia_r_force_vx = #{tibia_r_force_vx,jdbcType=DOUBLE},
      tibia_r_force_vy = #{tibia_r_force_vy,jdbcType=DOUBLE},
      tibia_r_force_vz = #{tibia_r_force_vz,jdbcType=DOUBLE},
      tibia_r_force_px = #{tibia_r_force_px,jdbcType=DOUBLE},
      tibia_r_force_py = #{tibia_r_force_py,jdbcType=DOUBLE},
      tibia_r_force_pz = #{tibia_r_force_pz,jdbcType=DOUBLE},
      tibia_l_force_vx = #{tibia_l_force_vx,jdbcType=DOUBLE},
      tibia_l_force_vy = #{tibia_l_force_vy,jdbcType=DOUBLE},
      tibia_l_force_vz = #{tibia_l_force_vz,jdbcType=DOUBLE},
      tibia_l_force_px = #{tibia_l_force_px,jdbcType=DOUBLE},
      tibia_l_force_py = #{tibia_l_force_py,jdbcType=DOUBLE},
      tibia_l_force_pz = #{tibia_l_force_pz,jdbcType=DOUBLE},
      torso_torque_x = #{torso_torque_x,jdbcType=DOUBLE},
      torso_torque_y = #{torso_torque_y,jdbcType=DOUBLE},
      torso_torque_z = #{torso_torque_z,jdbcType=DOUBLE},
      tibia_r_torque_x = #{tibia_r_torque_x,jdbcType=DOUBLE},
      tibia_r_torque_y = #{tibia_r_torque_y,jdbcType=DOUBLE},
      tibia_r_torque_z = #{tibia_r_torque_z,jdbcType=DOUBLE},
      tibia_l_torque_x = #{tibia_l_torque_x,jdbcType=DOUBLE},
      tibia_l_torque_y = #{tibia_l_torque_y,jdbcType=DOUBLE},
      tibia_l_torque_z = #{tibia_l_torque_z,jdbcType=DOUBLE},
      heavy_r_force_vx = #{heavy_r_force_vx,jdbcType=DOUBLE},
      heavy_r_force_vy = #{heavy_r_force_vy,jdbcType=DOUBLE},
      heavy_r_force_vz = #{heavy_r_force_vz,jdbcType=DOUBLE},
      heavy_r_force_px = #{heavy_r_force_px,jdbcType=DOUBLE},
      heavy_r_force_py = #{heavy_r_force_py,jdbcType=DOUBLE},
      heavy_r_force_pz = #{heavy_r_force_pz,jdbcType=DOUBLE},
      heavy_l_force_vx = #{heavy_l_force_vx,jdbcType=DOUBLE},
      heavy_l_force_vy = #{heavy_l_force_vy,jdbcType=DOUBLE},
      heavy_l_force_vz = #{heavy_l_force_vz,jdbcType=DOUBLE},
      heavy_l_force_px = #{heavy_l_force_px,jdbcType=DOUBLE},
      heavy_l_force_py = #{heavy_l_force_py,jdbcType=DOUBLE},
      heavy_l_force_pz = #{heavy_l_force_pz,jdbcType=DOUBLE},
      heavy_r_torque_x = #{heavy_r_torque_x,jdbcType=DOUBLE},
      heavy_r_torque_y = #{heavy_r_torque_y,jdbcType=DOUBLE},
      heavy_r_torque_z = #{heavy_r_torque_z,jdbcType=DOUBLE},
      heavy_l_torque_x = #{heavy_l_torque_x,jdbcType=DOUBLE},
      heavy_l_torque_y = #{heavy_l_torque_y,jdbcType=DOUBLE},
      heavy_l_torque_z = #{heavy_l_torque_z,jdbcType=DOUBLE},
      radius_r_force_vx = #{radius_r_force_vx,jdbcType=DOUBLE},
      radius_r_force_vy = #{radius_r_force_vy,jdbcType=DOUBLE},
      radius_r_force_vz = #{radius_r_force_vz,jdbcType=DOUBLE},
      radius_r_force_px = #{radius_r_force_px,jdbcType=DOUBLE},
      radius_r_force_py = #{radius_r_force_py,jdbcType=DOUBLE},
      radius_r_force_pz = #{radius_r_force_pz,jdbcType=DOUBLE},
      radius_l_force_vx = #{radius_l_force_vx,jdbcType=DOUBLE},
      radius_l_force_vy = #{radius_l_force_vy,jdbcType=DOUBLE},
      radius_l_force_vz = #{radius_l_force_vz,jdbcType=DOUBLE},
      radius_l_force_px = #{radius_l_force_px,jdbcType=DOUBLE},
      radius_l_force_py = #{radius_l_force_py,jdbcType=DOUBLE},
      radius_l_force_pz = #{radius_l_force_pz,jdbcType=DOUBLE},
      radius_r_torque_x = #{radius_r_torque_x,jdbcType=DOUBLE},
      radius_r_torque_y = #{radius_r_torque_y,jdbcType=DOUBLE},
      radius_r_torque_z = #{radius_r_torque_z,jdbcType=DOUBLE},
      radius_l_torque_x = #{radius_l_torque_x,jdbcType=DOUBLE},
      radius_l_torque_y = #{radius_l_torque_y,jdbcType=DOUBLE},
      radius_l_torque_z = #{radius_l_torque_z,jdbcType=DOUBLE}
    where expid = #{expid,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>